<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Houses</title>
</head>
<body>
<h1>Houses</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Mascot</th>
    <th>Founder</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="house : ${houses}">
    <td th:text="${house.name}"></td>
    <td th:text="${house.mascot}"></td>
    <td th:text="${house.founder}"></td>
    <td><a th:href="@{'/house/' + ${house.name}}">View Details</a></td>
  </tr>
  </tbody>
</table>
<p>Volver atrás: <a th:href="@{'/'}">Atrás</a></p>
</body>
</html>
